<a href="https://colab.research.google.com/github/andriyan33/DataMining/blob/master/GSP_DatMin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=40498b3d780bfadb52c2a14160ebb1fe5ad44cd6b5d90760b861061e29cb4f9d
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
from google.colab import files
upload = files.upload()

Saving movie_metadata.csv to movie_metadata.csv

In [4]:
dataset = pd.read_csv('movie_metadata.csv')
dataset.fillna(value=0,axis=1,inplace=True)
dataset.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4      0        Doug Walker  ...          0.00                     0

[5 rows x 28 columns]

In [5]:
dataset.shape

(5043, 28)

In [6]:
movieData=[]
for i in range(0,5):
    movieData.append([str(dataset.values[i,j]) for j in range(0,28)])

In [7]:
movieData[:3]

[['Color',
  'James Cameron',
  '723.0',
  '178.0',
  '0.0',
  '855.0',
  'Joel David Moore',
  '1000.0',
  '760505847.0',
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  '886204',
  '4834',
  'Wes Studi',
  '0.0',
  'avatar|future|marine|native|paraplegic',
  'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1',
  '3054.0',
  'English',
  'USA',
  'PG-13',
  '237000000.0',
  '2009.0',
  '936.0',
  '7.9',
  '1.78',
  '33000'],
 ['Color',
  'Gore Verbinski',
  '302.0',
  '169.0',
  '563.0',
  '1000.0',
  'Orlando Bloom',
  '40000.0',
  '309404152.0',
  'Action|Adventure|Fantasy',
  'Johnny Depp',
  "Pirates of the Caribbean: At World's End\xa0",
  '471220',
  '48350',
  'Jack Davenport',
  '0.0',
  'goddess|marriage ceremony|marriage proposal|pirate|singapore',
  'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1',
  '1238.0',
  'English',
  'USA',
  'PG-13',
  '300000000.0',
  '2007.0',
  '5000.0',
  '7.1',
  '2.35',
  '0'],
 ['Color',
  'Sam Mendes',
  '602.0',
  '148.0',
  '0.0',
  '161.0',
  'Rory Kinnear',
  '11000.0',
  '200074175.0',
  'Action|Adventure|Thriller',
  'Christoph Waltz',
  'Spectre\xa0',
  '275868',
  '11700',
  'Stephanie Sigman',
  '1.0',
  'bomb|espionage|sequel|spy|terrorist',
  'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1',
  '994.0',
  'English',
  'UK',
  'PG-13',
  '245000000.0',
  '2015.0',
  '393.0',
  '6.8',
  '2.35',
  '85000']]

In [8]:
def getNextMovie(s):
    for i in range(0,5):
      if (movieData)[i][10] == s[10] or (movieData)[i][9] == s[1] or (movieData)[i][9] == s[9]:
        if movieData[i][11] != s[11]:
          return movieData[i]
        else:
          return random.choice(movieData)
      else: 
        return random.choice(movieData)

In [32]:
movieTransactions=[]
userTransactions=[]
for i in range(0,100):
    firtsMovie = (random.choice(movieData))
    userTransactions.append([])
    movieTransactions.append([])
    movieTransactions[i].append(getNextMovie(firtsMovie))
    for j in range(0,3):
      movieTransactions[i].append(getNextMovie(movieTransactions[i][j]))
      userTransactions[i].append(movieTransactions[i][j][11].replace(u'\xa0', u''))

In [11]:
userTransactions[:3]

[["Pirates of the Caribbean: At World's End", 'Avatar', 'Spectre'],
 ['Avatar', 'Avatar', 'The Dark Knight Rises'],
 ['Star Wars: Episode VII - The Force Awakens            ',
  'The Dark Knight Rises',
  "Pirates of the Caribbean: At World's End"]]

In [33]:
dataset.head(5)

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4      0        Doug Walker  ...          0.00                     0

[5 rows x 28 columns]

In [34]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(userTransactions).transform(userTransactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Avatar  ...  The Dark Knight Rises
0     True  ...                  False
1     True  ...                  False
2     True  ...                   True
3     True  ...                  False
4    False  ...                  False
..     ...  ...                    ...
95    True  ...                  False
96   False  ...                   True
97   False  ...                   True
98   False  ...                  False
99   False  ...                  False

[100 rows x 5 columns]

In [35]:
pip install gsppy

Requirement already satisfied: gsppy in /usr/local/lib/python3.6/dist-packages (1.1)

In [36]:
print(len(userTransactions))

100

In [37]:
from gsppy.gsp import GSP
transactions = userTransactions
result = GSP(userTransactions).search(0.1)
print("GSP: {}".format(result))

GSP: [{('Avatar',): 54, ("Pirates of the Caribbean: At World's End",): 50, ('Spectre',): 45, ('The Dark Knight Rises',): 48, ('Star Wars: Episode VII - The Force Awakens            ',): 42}, {('Avatar', 'The Dark Knight Rises'): 13, ("Pirates of the Caribbean: At World's End", 'Avatar'): 16, ('Spectre', 'Star Wars: Episode VII - The Force Awakens            '): 10, ('Star Wars: Episode VII - The Force Awakens            ', 'Spectre'): 10, ('The Dark Knight Rises', 'Avatar'): 13}]

In [38]:
print(result[1])

{('Avatar', 'The Dark Knight Rises'): 13, ("Pirates of the Caribbean: At World's End", 'Avatar'): 16, ('Spectre', 'Star Wars: Episode VII - The Force Awakens            '): 10, ('Star Wars: Episode VII - The Force Awakens            ', 'Spectre'): 10, ('The Dark Knight Rises', 'Avatar'): 13}

In [39]:
movie, r1, support = [], [], []
for key, val in result[1].items():
  movie.append(key[0])
  r1.append(key[1])
  support.append(val)

In [40]:
columns = list(zip(movie, r1, support))
result_df = pd.DataFrame(columns)
result_df.columns = ["Film", "Rekomendasi", "Support"]
result_df

                                                Film  ... Support
0                                             Avatar  ...      13
1           Pirates of the Caribbean: At World's End  ...      16
2                                            Spectre  ...      10
3  Star Wars: Episode VII - The Force Awakens    ...  ...      10
4                              The Dark Knight Rises  ...      13

[5 rows x 3 columns]