In [ ]:
pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
from google.colab import files
upload = files.upload()

Saving movie_metadata.csv to movie_metadata (1).csv

In [ ]:
dataset = pd.read_csv('movie_metadata.csv')
dataset.fillna(value=0,axis=1,inplace=True)
dataset.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4      0        Doug Walker  ...          0.00                     0

[5 rows x 28 columns]

In [ ]:
dataset.shape

(5043, 28)

In [ ]:
movieData=[]
for i in range(0,5):
    movieData.append([str(dataset.values[i,j]) for j in range(0,28)])

In [ ]:
movieData[:1]

[['Color',
  'James Cameron',
  '723.0',
  '178.0',
  '0.0',
  '855.0',
  'Joel David Moore',
  '1000.0',
  '760505847.0',
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  '886204',
  '4834',
  'Wes Studi',
  '0.0',
  'avatar|future|marine|native|paraplegic',
  'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1',
  '3054.0',
  'English',
  'USA',
  'PG-13',
  '237000000.0',
  '2009.0',
  '936.0',
  '7.9',
  '1.78',
  '33000']]

In [ ]:
def getNextMovie(s):
    for i in range(0,5):
      if (movieData)[i][10] == s[10] or (movieData)[i][9] == s[1] or (movieData)[i][9] == s[9]:
        if movieData[i][11] != s[11]:
          return movieData[i]
        else:
          return random.choice(movieData)
      else: 
        return random.choice(movieData)

In [ ]:
movieTransactions=[]
userTransactions=[]
for i in range(0,100):
    firtsMovie = (random.choice(movieData))
    userTransactions.append([])
    movieTransactions.append([])
    movieTransactions[i].append(getNextMovie(firtsMovie))
    for j in range(0,3):
      movieTransactions[i].append(getNextMovie(movieTransactions[i][j]))
      userTransactions[i].append(movieTransactions[i][j][11].replace(u'\xa0', u''))

In [ ]:
userTransactions[:3]

[["Pirates of the Caribbean: At World's End",
  'Avatar',
  'Star Wars: Episode VII - The Force Awakens            '],
 ['Spectre',
  "Pirates of the Caribbean: At World's End",
  'Star Wars: Episode VII - The Force Awakens            '],
 ['Avatar', 'Spectre', 'Spectre']]

In [ ]:
dataset.head(5)

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4      0        Doug Walker  ...          0.00                     0

[5 rows x 28 columns]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(userTransactions).transform(userTransactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Avatar  ...  The Dark Knight Rises
0     True  ...                  False
1    False  ...                  False
2     True  ...                  False
3    False  ...                  False
4     True  ...                  False
..     ...  ...                    ...
95   False  ...                  False
96   False  ...                   True
97    True  ...                   True
98   False  ...                  False
99    True  ...                   True

[100 rows x 5 columns]

In [ ]:
pip install gsppy

Requirement already satisfied: gsppy in /usr/local/lib/python3.6/dist-packages (1.1)

In [ ]:
print(len(userTransactions))

100

In [ ]:
from gsppy.gsp import GSP
transactions = userTransactions
result = GSP(userTransactions).search(0.1)
print("GSP: {}".format(result))

GSP: [{("Pirates of the Caribbean: At World's End",): 58, ('Avatar',): 51, ('Star Wars: Episode VII - The Force Awakens            ',): 44, ('Spectre',): 48, ('The Dark Knight Rises',): 38}, {('Avatar', 'Avatar'): 10, ("Pirates of the Caribbean: At World's End", 'Avatar'): 14, ("Pirates of the Caribbean: At World's End", 'Star Wars: Episode VII - The Force Awakens            '): 10, ("Pirates of the Caribbean: At World's End", 'Spectre'): 14, ('Spectre', "Pirates of the Caribbean: At World's End"): 11, ('Star Wars: Episode VII - The Force Awakens            ', 'Avatar'): 10}]

In [ ]:
print(result[1])

{('Avatar', 'Avatar'): 10, ("Pirates of the Caribbean: At World's End", 'Avatar'): 14, ("Pirates of the Caribbean: At World's End", 'Star Wars: Episode VII - The Force Awakens            '): 10, ("Pirates of the Caribbean: At World's End", 'Spectre'): 14, ('Spectre', "Pirates of the Caribbean: At World's End"): 11, ('Star Wars: Episode VII - The Force Awakens            ', 'Avatar'): 10}

In [ ]:
movie, r1, support = [], [], []
for key, val in result[1].items():
  movie.append(key[0])
  r1.append(key[1])
  support.append(val)

In [ ]:
columns = list(zip(movie, r1, support))
result_df = pd.DataFrame(columns)
result_df.columns = ["File", "Rekomendasi", "Support"]
result_df

                                                File  ... Support
0                                             Avatar  ...      10
1           Pirates of the Caribbean: At World's End  ...      14
2           Pirates of the Caribbean: At World's End  ...      10
3           Pirates of the Caribbean: At World's End  ...      14
4                                            Spectre  ...      11
5  Star Wars: Episode VII - The Force Awakens    ...  ...      10

[6 rows x 3 columns]